<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home | Pura</title>
		
		<link rel="stylesheet" type="text/css" href="./stylesheet/team.css" />
		<link rel="stylesheet" type="text/css" href="./stylesheet/main.css" />
		<link rel="stylesheet" type="text/css" href="./stylesheet/style.css" />
		<link rel="stylesheet" type="text/css" href="./stylesheet/ns-default.css" />
		<link rel="stylesheet" type="text/css" href="./stylesheet/ns-style-bar.css" />
		<link rel="stylesheet" type="text/css" href="./stylesheet/component.css" />
		
		
	</head>
<body>
	<div class="container">
		<div class="content">
			<div class="shuffle"></div>
			<div class="hover"></div>
			<div class="mockup-browser">
				
				<header class="mockup-header mockup-section--dark ">
						<div class="mockup-content mockup-grid mockup-grid--spread">
							<span class="mockup-logo">
								<i class="fa fa-umbrella"></i><img src="./images/brand.png" width="30px" height="30px"/><span>Pura</span>
							</span>
							<nav class="mockup-nav">
								<span>About</span>
								<span>Api's</span>
								<span>Contact</span>
							</nav>
						</div>
						<div class="banner">
<img src="./images/UnderDevelopment.png" width="250px" height="170px"/>
</div>

					</header>
					<div class="mockup-section sectionintro ">
						<div class="mockup-content mockup-grid">
							<div class="mockup-grid__item mockup-width--half">
								<h3 class="mockup-heading mockup-heading--large">We help you integrate cloud messaging  
									<span class="mockup-heading__subline">The efficient opensource API's for educational and commercial needs.</span>
								</h3>
								<button class="mockup-button "><span>Discover more</span> <i class="fa fa-chevron-right"></i></button>
							</div>
							<div class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large">
									<i class="fa fa-picture-o"></i>
								</div>
							</div>
						</div><!-- /mockup-grid -->
					</div> <!-- end of the first section -->
					
					<div class="mockup-section secondsection">
						<div class="mockup-content mockup-grid">
							<h2 class="mockup-heading mockup-heading--single text-black">Learn about our product</h2>
							<div class="mockup-grid__item mockup-width--half">
								<div class="mockup-img mockup-img--large"><i class="fa fa-picture-o"></i></div>
							</div>
							<div class="mockup-grid__item mockup-width--half">
								<p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<button class="mockup-button"><span>Read more</span> <i class="fa fa-chevron-right"></i></button>
							</div>
						</div><!-- /mockup-grid -->
					</div> <!-- end of second section -->
					
					<div class="mockup-section thirdsection">
						<div class="mockup-content mockup-grid">
							<h2 class="mockup-heading mockup-heading--single text-black">Our Philosopy</h2>
							<div class="mockup-grid__item mockup-width--third">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<div class="mockup-caption mockup-caption--box ">
									<h3 >Reactive tools</h3>
									<p >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
							</div>
							<div class="mockup-grid__item mockup-width--third">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<div class="mockup-caption mockup-caption--box ">
									<h3 >Invisible guides</h3>
									<p >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
							</div>
							<div class="mockup-grid__item mockup-width--third">
								<div class="mockup-img"><i class="fa fa-picture-o"></i></div>
								<div class="mockup-caption mockup-caption--box ">
									<h3 >Fancy other stuff</h3>
									<p >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
							</div>
						</div><!-- /mockup-grid -->
					</div><!-- end of  third section-->


					<div class="mockup-section ">
						<div class="mockup-content mockup-grid">
							<h2 class="mockup-heading mockup-heading--single text-black">Meet the amazing team</h2>
							<div class="mockup-grid__item mockup-width--forth">
								<ul class="ch-grid">
									<li>
										<div class="ch-item ch-img-1">
											<div class="ch-info">
												<h3>Developer</h3>
												<p>Vaghula krishnan <a href="http://github.com/vaghul">View on github</a></p>
											</div>
										</div>
									</li>
								</ul>

								<div class="mockup-caption team1"><h3 class="text-black">&nbsp;&nbsp;Vaghula Krishnan</h3>
								</div>
							</div>
							<div class="mockup-grid__item mockup-width--forth">
								<ul class="ch-grid">
									<li>
										<div class="ch-item ch-img-2">
											<div class="ch-info">
												<h3>Developer</h3>
												<p>Harish Sriram <a href="http://github.com/vaghul">View on github</a></p>
											</div>
										</div>
									</li>
								</ul>

								<div class="mockup-caption team1"><h3 class="text-black"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Harish Sriram</h3></div>
							</div>
							
						</div><!-- /mockup-grid -->
					</div> <!-- end of fourth section -->

					<footer class="mockup-header mockup-section--dark">
						<center>
						<p>  ©2015 Rudh. </p>
						<div class="mockup-content mockup-grid">
								<span>Blog</span>
								<span>Terms</span>
								<span>Contact</span>
							</center>
						</div>
					</footer>
			

			</div> <!--mockup browser div-->		
		</div> <!-- div content-->
	</div> <!-- div container -->

	<div id="rp_list" class="rp_list">
	<ul>
		<li>
			<div>
				<img src="images/1.jpg" width="30px" height="70px" alt=""/>
				<span class="rp_title">We also do Freelancing!</span>
				<span class="rp_links">
					<a id ="reachout" class="md-trigger md-setperspective" data-modal="modal-16">Reach out!</a>
				</span>
			</div>
		</li>
	</ul>
</div>  <!-- for the hire me pane in the right side -->


<div class="md-modal md-effect-16" id="modal-16">
			<div class="md-content">
				<h3 >Modal Dialog</h3>
				<div>
					<p>This is a modal window. You can do the following things with it:</p>
					<ul>
						<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
						<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
						<li><strong>Close:</strong> click on the button below to close the modal.</li>
					</ul>
					<button class="md-close" id ="md-close">Close me!</button>
				</div>
			</div>
		</div>  <!-- modal for the list-->
	<div class="md-overlay"></div><!-- the overlay element -->


<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/feedback.js"></script>
<script src="./js/modernizr.custom.js"></script>
<script src="./js/classie.js"></script>
<script src="./js/notificationFx.js"></script>
<script src="./js/modalEffects.js"></script>

		<!-- for the blur effect -->
		<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>



</body>
</html>